# --- Core Data Science ---
pandas
numpy
scikit-learn
tqdm
openpyxl

# --- NLP & Deep Learning (SOTA Translation/Detection) ---
torch
transformers
sentencepiece     # Required for NLLB/XLM-R tokenizers
accelerate        # Optimizes inference on GPU/CPU
sentence-transformers
nltk
emoji
spacy
# Italian SpaCy model for local environment use, In Colab, we usually run "!python -m spacy download it_core_news_lg" separately
# it_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/it_core_news_lg-3.7.2/it_core_news_lg-3.7.2-py3-none-any.whl

# --- Topic Modeling ---
bertopic
umap-learn
hdbscan
safetensors       # For secure/fast model saving

# --- Configuration & Logging ---
pyyaml            # For config.yaml
wandb

# --- Visualization ---
plotly
seaborn
ipywidgets